---
import type * as interfaces from '@/lib/interfaces.ts';
import { snakeToKebab } from '@/lib/style-helpers.ts';
import '../../styles/notion-color.css';
import NotionBlocks from '../NotionBlocks.astro';
import RichText from './RichText.astro';

export interface Props {
  block: interfaces.Block;
  headings: interfaces.Block[];
}

const { block, headings } = Astro.props;
const paragraph = block.Paragraph;
---

{
  paragraph && (
    <p class={snakeToKebab(paragraph.Color)}>
      {paragraph.RichTexts.map((richText: interfaces.RichText) => (
        <RichText richText={richText} />
      ))}
      {paragraph.Children && <NotionBlocks blocks={paragraph.Children} headings={headings} />}
    </p>
  )
}

<style>
  p {
    margin: 0.3rem 0;
    font-size: 1rem;
    min-height: 1.8rem;
  }
</style>
