---
import Layout from '@/layouts/Layout.astro';
---

<Layout>
  <div slot="main">
    <div class="large-height no-scroll middle-align center-align">
      <h3 class="center-align">{'hey!'}</h3>
    </div>
    <div></div>
  </div>
</Layout>
