---
import dayjs from '@/lib/dayjs';
import type { Post } from '@/lib/interfaces.ts';

export interface Props {
  post: Post;
}

const { post } = Astro.props;
const date = post.Date ? dayjs(post.Date).format('YYYY-MM-DD hh:mm') : '';
---

<p class="lower">{date}</p>
